################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectNotes/FileContentIndex/3d156ddc-f61c-492e-9d6d-4d6b3f8b6dbf.vsidx
/.vs/slnx.sqlite
/.vs/ProjectNotes/FileContentIndex/98e38b23-1a4b-4769-bbb1-b1479230e17b.vsidx
/.vs/ProjectNotes/FileContentIndex/4ea5c4ec-3fd2-4ae6-8970-4154b7ef970d.vsidx
*.vsidx
